/* style.css */

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#product-container {
  text-align: center;
}

#map {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup.hidden {
  display: none;
}
.product-area{
    width: 300px;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    padding: 10px;
}
.product-area img{
    width: 100%;
    border-radius: 20px;
}
#product-name{
    font-size: 30px;
    color: #282A3A;
}
#product-description{
    color: #636363;
}
#product-price{
    font-size: 20px;
    font-weight: bold;
}
#buy-button{
    padding: 15px 30px;
    background-color: #EA3927;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
}
